span.navbar-brand {
  font-family: 'Shrikhand', serif;
}

.container {
  background: linear-gradient(to bottom, white, #bb8);
}

body {
  padding-top: 10rem;
  background: url(http://cdn.history.com/sites/2/2015/04/hith-appalachian-trail-iStock_000020892930_XXXLarge-H.jpeg) no-repeat fixed;
  background-size: cover;
}

.brand-icon {
  vertical-align: sub;
}

.favorites {
  margin: 20px;
  font-size: 36px;
}

.favorites:hover {
  cursor: pointer;
}

.row {
  padding: 25px;
}

i.hide {
  display: none;
}

.md-48 {
  font-size: 48px;
}
